server:
  port: 8081
  address: 192.168.50.1




spring:
  application:
    name: school-api
  ## Spring DATASOURCE (DataSourceAutoConfiguration & DataSourceProperties)
  datasource:
    url: jdbc:h2:file:./school
    username: demo
    password: demo
  jpa:
    # The SQL dialect makes Hibernate generate better SQL for the chosen database
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        jdbc.lob.non_contextual_creation: true
    # Hibernate ddl auto (create, create-drop, validate, update)
    hibernate.ddl-auto: update

  liquibase:
    change-log: classpath:db/master.xml
