server:
  port: 8082
  address: 192.168.50.1


spring:
  application:
    name: student

  ## Spring DATASOURCE (DataSourceAutoConfiguration & DataSourceProperties)
  datasource:
    url: jdbc:postgresql://192.168.50.1:5432/student
    username: demo
    password: demo
  jpa:
    # The SQL dialect makes Hibernate generate better SQL for the chosen database
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        jdbc.lob.non_contextual_creation: true
    # Hibernate ddl auto (create, create-drop, validate, update)
    hibernate.ddl-auto: update

  liquibase:
    change-log: classpath:db/master.xml
